fastapi
uvicorn[standard]
snscrape
git+https://github.com/boudinfl/pke.git#egg=pke
demoji
gunicorn
scikit-learn
pymongo[srv]
rake-nltk
nltk
pandas
joblib
git+https://github.com/rwalk/gsdmm.git
numpy
gensim
pydantic
fasttext    
seaborn
aiohttp